@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slateDark.css";

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/untitled-sans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/untitled-sans-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/untitled-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/untitled-sans-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/untitled-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

html {
  background-color: var(--blue1);
  font-family: -apple-system, ui-serif, "Georgia", serif, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: 'UntitledSans', ui-serif, "Georgia", serif, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  max-width: 60ch;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  color: var(--blue12);
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--slate12);
  margin-block-end: 2.5rem;
  font-weight: 700;
  font-size: clamp(1.5rem,
      4vw + 1rem,
      3rem);
}

h2 {
  margin-block-start: 2.75rem;
  margin-block-end: 1.75rem;
}

p {
  margin-block-end: 1.5rem;
}

li {
  margin-bottom: 0.25rem;
}

.footer {
  padding-block-end: 2rem;
  margin-block-end: 2rem;
}

.centered-separator {
  display: block;
  width: 90px;
  height: 2px;
  margin: 4rem auto 3rem;
  border: none;
  background-color: var(--slate6)
}

.container {
  border-bottom: 2px solid var(--slate6);
  padding-block-start: .5rem;
  width: 100%;
  /* margin-inline-start: auto;
  margin-inline-end: auto; */
  margin-block-end: 2rem;
  padding-block-end: 1rem;
  max-width: 60ch;
  display: flex;
  justify-content: space-evenly;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 60ch;
  margin: 2rem auto 2rem;
  /* margin-inline-start: auto;
  margin-inline-end: auto; */
  /* background-color: var(--blue2); */
  /* margin-block-start: 2rem;
  margin-block-end: 3.25rem;
  /* border: 1px solid var(--blue6);
  border-radius: 8px; */
}

#menu > * {
  padding: 12px auto;
  max-width: 60ch;
  width: 100%;
  justify-content: space-evenly;
}

#menu a {
  color: var(--blue11);
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

a {
  color: var(--blue11);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p > ul,
p > ol {
  margin-block-start: 0;
}

ul li:last-child,
ol li:last-child {
  margin-block-end: 1.5rem;
}