---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>Hello. Glad you made it here!</h1>
		<p>
			This is my about page. I just starting learning web development. And, this is my first site
			built with Astro.
		</p>
		<p>
			I'm focusing my learning through these courses:
			<ul>
				<li><a href="https://learnjavascript.online">Learn JavaScript</a></li>
				<li><a href="https://css-for-js.dev">CSS-for-JS</a></li>
				<li><a href="https://www.joyofreact.com">The Joy of React</a></li>
			</ul>
		</p>
	</body>
</html>
