---
const platform = "Twitter";
const username = "jcd5816";
---

<footer class="footer">
	<p>
		You can find me on <a href={`https://www.${platform}.com/${username}`} target="_blank"
			>{platform}</a
		>.
	</p>
</footer>
